@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  /*colors*/
  --color-primary-light-cyan: hsl(193, 38%, 86%);
  --color-primary-neon-green: hsl(150, 100%, 66%);
  --color-neutral-grayish-blue: hsl(217, 19%, 38%);
  --color-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --color-neutral-dark-blue: hsl(218, 23%, 16%);
  /*font*/
  --font-size-quote: 28px;
  --font-family: "Manrope", sans-serif;
  --font-weight-extra-bold: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  background-color: var(--color-neutral-dark-blue);
  display: grid;
  place-items: center;
  text-align: center;
}
main {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-neutral-dark-grayish-blue);
  border-radius: 11px;
  padding: 40px 50px 10px 50px;
}
#id {
  color: var(--color-primary-neon-green);
  font-size: 10px;
  letter-spacing: 4px;
  margin-bottom: 15px;
}
#advice {
  color: var(--color-primary-light-cyan);
  font-weight: 800;
  font-size: var(--font-size-quote);
}
p {
  margin-bottom: 25px;
}

button {
  background-color: var(--color-primary-neon-green);
  position: relative;
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  top: 70%;
  border: none;
  border-radius: 50px;
  transition: all 0.05s ease-in-out;
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 25px var(--color-primary-neon-green);
  transition: all 0.05s ease-in-out;
}
@media (max-width: 768px) {
  main {
    max-width: 350px;
    padding-left: 30px;
    padding-right: 30px;
    top: 43%;
  }
  main * {
    max-width: 100%;
  }
   #divider {
    width: 100%;
  }
}
